@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url(./assets/fonts/BarlowSemiCondensed-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url(./assets/fonts/BarlowSemiCondensed-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url(./assets/fonts/BarlowSemiCondensed-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

:root {
  scroll-behavior: smooth;
  --cosmic-latte: #FFFBEB;
  --giants-orange: #FF5A13;
  --sky-blue: #13B8FF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  font-size: inherit;
  font-family:'Barlow Semi Condensed', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cosmic-latte);
  overflow-x: hidden;
}

#about-page, #projects-page, #contact-page {
  max-width: 1600px;
  background-color: var(--cosmic-latte);
  color: var(--giants-orange);
}

.header {
  font-size: 6rem;
  letter-spacing: -0.125rem;
  font-weight: bold;
  line-height: 1;
  user-select: none;
}

.subheader {
  font-size: 2.5rem;
  user-select: none;
}

.hero {
  font-size: 2rem;
}

.title-container {
  position: relative;
  max-width: max-content;
  padding: 2rem 4rem;
  background-color: var(--giants-orange);
  color: var(--cosmic-latte);
}

.extend-background {
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: #FF5A13;
}

/*
 * Navbar Style
 */
nav {
  width: 100%;
  height: 56px;
  padding: 0.5rem 1rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

.nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  color: var(--cosmic-latte);
}

.icon {
  margin-right: auto;
}

.menu-links {
  display: none;
  height: 100%;
  gap: 0.25rem;
  transform-origin: right;
}

.menu-links.collapse, .menu-links.expand {
  display: flex;
}

.menu-links.collapse {
  animation: collapse 500ms cubic-bezier(0.36, 0, 0.66, -0.56) both;
}

.menu-links.expand {
  animation: expand 500ms cubic-bezier(0.34, 1.56, 0.64, 1) both;
}

.menu-links > a {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sky-blue);
}

.menu-links > a:first-child {
  border-radius: 1000px 0 0 1000px;
}

.menu-links > a:last-child {
  border-radius: 0 1000px 1000px 0;
}

.menu-toggle-button {
  width: 40px;
  margin-left: 1rem;
  border-radius: 1000px;
  border: none;
  background-color: var(--sky-blue);
  background-image: url('assets/images/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  will-change: transform;
  transition: transform 500ms ease-in-out;
}

.menu-toggle-button.expand {
  transform: rotate(315deg);
}

/*
 * About Page Styles
 */
 #about-page {
  height: 100vh;
  padding: 2rem 4rem;
  padding-top: calc(56px + 0.25rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--giants-orange);
}

#about-page > .header {
  text-align: center;
  animation: 1000ms fade ease-out both;
}

.header-image-container {
  flex: 1;
  max-height: 750px;
  width: 100%;
  border-radius: 4rem;
  overflow: hidden;
  animation: 1000ms fade ease-out both 1250ms;
  background-color: blue;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#about-page > .hero {
  text-align: center;
  animation: 1000ms fade ease-out 2500ms both;
}

/*
 * Projects Page Styles
 */
#projects-page {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#projects-page > .title-container {
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  transform-origin: left;
  transform: scaleX(0);
}

#projects-page > .title-container.in-view {
  animation: expand 750ms cubic-bezier(0.34, 1.56, 0.64, 1) both;
}

#projects-page > .title-container > .extend-background {
  top: 0;
  left: 0;
  transform: translate(-100%, 0%);
}

.projects-container {
  padding: 1rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-auto-rows: 300px;
  column-gap: 2rem;
  row-gap: 2.5rem;
  /* Shadows provided by Josh Comeau at: 
  https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: 153, 151, 141, 0.25;
  --shadow:
    0.3px 0.5px 0.7px rgba(var(--shadow-color)),
    1.1px 1.6px 2.2px -0.8px rgba(var(--shadow-color)),
    2.7px 4px 5.4px -1.7px rgba(var(--shadow-color)),
    6.6px 9.8px 13.3px -2.5px rgba(var(--shadow-color));
}

.project {
  position: relative;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  background-color: white;
  overflow: hidden;
  will-change: transform;
  transition: 500ms transform;
  animation: fade linear both;
  animation-timeline: view();
  animation-range: 0vh 50vh;
}

.project:hover {
  transform: scale(1.02);
}

.project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  opacity: 50%;
}

.project > a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-details {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  width: 100%;
  padding: 1rem;
  color: black;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.15));
}

.project-name {
  font-size: 1.25rem;
}

.project-description {
  font-weight: normal;
}

/*
 * Contact Page Styles
 */
#contact-page {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact-page > .title-container {
  align-self: flex-end;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  text-align: right;
  transform-origin: right;
  transform: scaleX(0);
}

#contact-page  > .title-container.in-view {
  animation: expand 750ms cubic-bezier(0.34, 1.56, 0.64, 1) both;
}

#contact-page > .title-container > .extend-background {
  z-index: -1;
  top: 0;
  left: 0;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

#contact-page .hero {
  padding: 0.5rem 4rem;
}

.contact {
  position: relative;
  padding: 1rem 4rem;
  border-top: 3px solid var(--giants-orange);
  transition: 100ms color, 100ms background-color;
}

.contact:last-child {
  border-bottom: 3px solid var(--giants-orange);
}

.contact-hovered {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 1rem 4rem;
  color: var(--cosmic-latte);
  background-color: var(--giants-orange);
  transform: scale(100%, 0);
  will-change: transform;
  transition: 150ms transform ease-out;
}

.contact:hover .contact-hovered {
  transform: scale(100%, 100%);
}

/*
 * Footer page styling
 */
footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  background-color: var(--giants-orange);
  color: var(--cosmic-latte);
  padding: 4rem;
}

.footer-list-title {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.footer-list a {
  text-decoration: underline;
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }
  
  to {
    transform: scaleX(1);
  }
}

@keyframes collapse {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0)
  }
}

@keyframes fade {
  from { 
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .header {
    font-size: 3rem;
  }

  .subheader{
    font-size: 1.25rem;
  }

  .hero {
    font-size: 1.125rem;
  }

  .title-container {
    padding: 1.5rem 3rem;
  }

  #about-page {
    padding: 2rem 2rem;
  }

  .projects-container {
    padding: rem 3rem;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: 2rem;
    letter-spacing: -0.05rem;
  }

  .subheader {
    font-size: 1.125rem;
  }

  .hero {
    font-size: 1rem;
  }

  .title-container {
    padding: 0.5rem 1rem;
  }

  nav {
    height: 50px;
  }

  .menu-toggle-button {
    width: 34px;
    margin-left: 0.5rem;
  }

  .menu-links > a {
    width: 70px;
  }

  #about-page {
    padding-top: calc(50px + 0.125rem);
  }

  .projects-container {
    padding: 0.5rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 1rem;
  }

  .contact, #contact-page .hero, .contact-hovered {
    padding: 0.5rem 2rem;
  }
}