@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url(./assets/fonts/BarlowSemiCondensed-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url(./assets/fonts/BarlowSemiCondensed-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url(./assets/fonts/BarlowSemiCondensed-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  font-size: inherit;
  font-family:'Barlow Semi Condensed', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

#about-page, #projects-page, #contact-page {
  min-height: 100vh;
  padding: 2rem;
}

.header {
  font-size: 10rem;
  font-weight: bold;
  user-select: none;
}

.subheader {
  font-size: 3rem;
  user-select: none;
}

/*
 * Navbar Style
 */
nav {
  z-index: 1;
  width: 100%;
  height: 56px;
  padding: 0.5rem 1rem;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0));
}

.nav-container {
  height: 100%;
  display: flex;
}

.menu-links {
  display: none;
  height: 100%;
  gap: 0.25rem;
  transform-origin: right;
}

.menu-links.collapse, .menu-links.expand {
  display: flex;
}

.menu-links.collapse {
  animation: collapse 500ms cubic-bezier(0.36, 0, 0.66, -0.56) both;
}

.menu-links.expand {
  animation: expand 500ms cubic-bezier(0.34, 1.56, 0.64, 1) both;
}

.menu-links > a {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.menu-links > a:first-child {
  border-radius: 1000px 0 0 1000px;
}

.menu-links > a:last-child {
  border-radius: 0 1000px 1000px 0;
}

.menu-toggle-button {
  width: 40px;
  margin-left: 1rem;
  border-radius: 1000px;
  border: none;
  background-color: white;
  background-image: url('assets/images/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  will-change: transform;
  transition: transform 500ms ease-in-out;
}

.menu-toggle-button.expand {
  transform: rotate(315deg);
}

/*
 * About Page Styles
 */
#about-page {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  display: flex;
}

.background-panel {
  width: 400px;
  height: 100vh;
  background-color: #AA9B5C;
}

.background-image {
  flex: 1;
  background-image: url('./assets/images/graduation.jpg');
  background-size: cover;
  background-position: center;
}

.about-container {
  margin-top: 10rem;
  max-width: 650px;
}

.about-container > p {
  font-size: 2rem;
}

.greeting-container {

  color: white;
  margin-top: auto;
}

.greeting-container > p {
  transform: translate(6px, 0);
}

.greeting-container > .header {
  line-height: 0.8;
  letter-spacing: -0.5rem;
}

/*
 * Projects Page Styles
 */
#projects-page {
  position: relative;
  background-color: #B7CCDE;
  color: #455E75;
  /* Shadows provided by Josh Comeau at: 
  https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: 92, 102, 111, 0.25;
  --shadow:
    0.3px 0.5px 0.7px rgba(var(--shadow-color)),
    1.1px 1.6px 2.2px -0.8px rgba(var(--shadow-color)),
    2.7px 4px 5.4px -1.7px rgba(var(--shadow-color)),
    6.6px 9.8px 13.3px -2.5px rgba(var(--shadow-color));
}

.title-container {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.title-container > p {
  transform: translate(6px, 0);
  transform: rotate(-5deg);
}

.title-container > .header {
  line-height: 0.8;
  letter-spacing: -0.5rem;
  transform: rotate(-5deg);
}

.projects-container {
  margin-top: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-auto-rows: 300px;
  column-gap: 2rem;
  row-gap: 2.5rem;
}

.project {
  position: relative;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  background-color: white;
  overflow: hidden;
  will-change: transform;
  transition: 500ms transform;
}

.project:hover {
  transform: scale(1.02);
}

.project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  opacity: 50%;
}

.project-details {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: black;
}

.project-name {
  font-size: 1.25rem;
}

.project-description {
  font-weight: normal;
}

/*
 * Contact Page Styles
 */
#contact-page {
  position: relative;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  background-color: #FFFBEB;
  color: #FF5A13;
}

#contact-page > .header {
  align-self: center;
  text-align: center;
}

.contact-description {
  padding: 0rem 2rem;
  font-size: 2rem;
}

.contact {
  position: relative;
  padding: 0.5rem 2rem;
  border-top: 3px solid #FF5A13;
  transition: 100ms color, 100ms background-color;
}

.contact:last-child {
  border-bottom: 3px solid #FF5A13;
}

.contact-hovered {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0.5rem 2rem;
  color: #FFFBEB;
  background-color: #FF5A13;
  transform: scale(100%, 0);
  will-change: transform;
  transition: 150ms transform ease-out;
}

.contact:hover .contact-hovered {
  transform: scale(100%, 100%);
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }
  
  to {
    transform: scaleX(1);
  }
}


@keyframes collapse {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0)
  }
}